
body {
background-color: lightblue;
}
title {
font-size: 16px; color: #6D8F9A;

}
h1 {
text-align: center; font-family: "Lucida Grande"; font-style: normal; color: #1C1C78;
}

h2 {
text-align: justify; font-family: "Lucida Grande"; font-style: italic;
}

h3 {
text-align: justify; font-style: oblique; font-size: 100%
}
h4 {
text-align: justify; font-style: oblique; color: #1C1C78;
}